h1 {
    border: thick solid rgb(237, 175, 184);
    background-color: pink;
}

footer {
    border: thin dashed gray;
    background-color: rgb(222, 219, 210);
}

body {
    background-color: rgb(247, 225, 215);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top-5-books {
    color: brown;
}

.book-title {
    font-style: italic;
}

ul {
    list-style: none;
}

nav a:hover {
    color: rbg(74, 87, 89);
    background-color: aliceblue;
}